/* fonts!! */
@font-face {
  font-family: 'Bungee';
  src: url('fonts/Bungee-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Exo2';
  src: url('fonts/Exo2-Black.ttf') format('truetype');
  font-weight: 900;
}
/* ---- Color palette + font variables ---- */
:root {
  --sky-blue: #87CEFA;
  --red: #D00000;
  --white: #FFFFFF;
  --green: #00AB44;
  --ink: #1a1a1a; 
}

/* ---- Reset browser default spacing ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo2', sans-serif;
  background-color: var(--sky-blue);
  color: var(--ink);
}

h1 {
  font-family: 'Bungee', sans-serif;
  font-size:6em;
  flood-color: red;
}

h2, h3 {
  font-family: 'Bungee', sans-serif;
